{% extends 'base.html' %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card border-0 shadow-sm">
                <div class="card-body p-5">
                    <h3 class="mb-4">Password Reset Complete</h3>
                    <p>Your password has been set. You can now <a href="{% url 'users:login_view' %}">sign in</a> with your new password.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
