{% extends 'base.html' %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card border-0 shadow-sm">
                <div class="card-body p-5">
                    <h3 class="mb-4">Set a New Password</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1 }}
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2 }}
                        <button type="submit" class="btn btn-primary w-100 mt-3">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
