<div class="sidebar-sticky pt-3">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-2 text-muted">
        <span>MAIN SECTIONS</span>
    </h6>
    
    <ul class="nav flex-column mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'platform:index' %}">
                <i class="fas fa-tachometer-alt me-2"></i> Dashboard
            </a>
        </li>
    </ul>
    
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-2 text-muted">
        <span>WEBSITE STRUCTURE</span>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-link me-2"></i> Internal Links
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-external-link-alt me-2"></i> External Links
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-retweet me-2"></i> Backlinks
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-code me-2"></i> URLs Analysis
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-sitemap me-2"></i> Sitemap Tools
            </a>
        </li>
    </ul>
    
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-2 text-muted">
        <span>INDUSTRIAL AUTOMATION</span>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-microchip me-2"></i> IoT Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-server me-2"></i> Devices
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-chart-bar me-2"></i> Analytics
            </a>
        </li>
    </ul>
</div>
